<div>
    This project was written by Aviv Dodi.
    <br>
    This system is a part of a project in my Full-stack development course.
     The role of the system is to manage a system of companies-customers-coupons.
    <br><br>
    Feel free to contact me: <br>
    <a href="http://linkedin.com/in/avivdodi">
        <img src="assets/images/linkedin.png" id="linkedin" alt="linkedin logo" title="linkedin.com/in/avivdodi"
            width="40" height="40">
    </a>

    <a href="mailto:avivdodi@gmail.com">
        <img src="assets/images/gmail.png" alt="gmail logo" title="avivdodi@gmail.com" width="53" height="40">
    </a>

    <a href="https://github.com/avivdodi">
        <img src="assets/images/github.png" alt="github logo" title="https://github.com/avivdodi" width="40"
            height="40">
    </a>
</div>