form {
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input {
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form {
  background-color: rgb(235, 233, 233);
  float: left;
  width: 50%;
  height: 100%;
}

.warnings {
  background-color: white;
  height: 100%;
  padding: 5px 20px 15px 20px;
  border-radius: 3px;
  text-align: center;
}

button {
  background-color: dodgerblue;
  color: white;
  padding: 15px;
  border: 1px solid sandybrown;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}
