<div class="btn-group">
    <button routerLink="/add-coupon" routerLinkActive="active-link">Add coupon</button>
    <button routerLink="/remove-coupon" routerLinkActive="active-link">Remove coupon</button>
    <button routerLink="/update-coupon" routerLinkActive="active-link">Update coupon</button>
    <button routerLink="/all-coupons/1" routerLinkActive="active-link">Find my coupons</button>
    <button routerLink="/all-coupons/2" routerLinkActive="active-link">Find my coupons by category</button>
    <button routerLink="/all-coupons/6" routerLinkActive="active-link">Find my coupons by date</button>
    <button routerLink="/all-coupons/5" routerLinkActive="active-link">Find my empty coupons</button>
    <button routerLink="/update" routerLinkActive="active-link">Update details</button>

</div>