<div class="btn-group">

    <button routerLink="/purchaseCoupon" routerLinkActive="active-link">Purchase coupon</button>
    <button routerLink="/all-coupons/1" routerLinkActive="active-link">Find my coupons</button>
    <button routerLink="/all-coupons/2" routerLinkActive="active-link">Find my coupons by category</button>
    <button routerLink="/all-coupons/3" routerLinkActive="active-link">Find my coupons by price</button>
    <button routerLink="/all-coupons/4" routerLinkActive="active-link">Find my coupons by date</button>
    <button routerLink="/update" routerLinkActive="active-link">Update details</button>

</div>