<div class="page">
    <div class="form">
        <form action="submit" *ngIf="modeService.role==2">
            <p> Name</p>
            <input required type="text" placeholder="Name..." name="name" [formControl]="nameFormControl"
                [ngClass]="{'invalid':nameFormControl.invalid && nameFormControl.touched}">

            <p> Email</p>
            <input minlength="11" type="email" placeholder="example@example.xyz" [formControl]="emailFormControl"
                name="email" [ngClass]="{'invalid':emailFormControl.invalid && emailFormControl.touched}" required>

            <p>Password</p>
            <input type="password" placeholder="Password..." [formControl]="passwordFormControl" name="password"
                [ngClass]="{'invalid':passwordFormControl.invalid && passwordFormControl.touched}" required>
            <p>
                <button (click)="updateCompany()" [disabled]="myFormGroupCompany.invalid">Update</button>
            </p>
        </form>
        <form action="submit" *ngIf="modeService.role==1">
            <p> First name</p>
            <input required type="text" placeholder="First name..." name="first_name"
                [formControl]="firstnameFormControl"
                [ngClass]="{'invalid':firstnameFormControl.invalid && firstnameFormControl.touched}" required>

            <p> Last name</p>
            <input type="text" placeholder="Last name..." name="last_name" [formControl]="lasttnameFormControl"
                [ngClass]="{'invalid':lasttnameFormControl.invalid && lasttnameFormControl.touched}" required>

            <p> Email</p>
            <input minlength="11" type="email" placeholder="example@example.xyz" [formControl]="emailFormControl"
                name="email" [ngClass]="{'invalid':emailFormControl.invalid && emailFormControl.touched}" required>

            <p>Password</p>
            <input type="password" placeholder="Password..." [formControl]="passwordFormControl" name="password"
                [ngClass]="{'invalid':passwordFormControl.invalid && passwordFormControl.touched}" required>
            <p>

                <p>
                    <button (click)="updateCustomer()" [disabled]="myFormGroupCustomer.invalid">Update</button>
                </p>
        </form>
    </div>

    <div class="warnings">

        <p *ngIf="nameFormControl.invalid && nameFormControl.touched"><b>Name requirements:</b></p>
        <p *ngIf="nameFormControl.errors?.required && nameFormControl.touched">Name is missing</p>
        <p *ngIf="nameFormControl.errors?.minlength && nameFormControl.dirty">Name is too short (at least 4 chars)</p>
        <p *ngIf="nameFormControl.errors?.maxlength && nameFormControl.dirty">Name is too long (max 25 chars)</p>

        <p *ngIf="firstnameFormControl.invalid && firstnameFormControl.touched"><b>First name requirements:</b></p>
        <p *ngIf="firstnameFormControl.errors?.required && firstnameFormControl.touched">First name is missing</p>
        <p *ngIf="firstnameFormControl.errors?.minlength && firstnameFormControl.dirty">First name is too short (at
            least 4 chars)</p>
        <p *ngIf="firstnameFormControl.errors?.maxlength && firstnameFormControl.dirty">First name is too long (max 25
            chars)</p>


        <p *ngIf="lasttnameFormControl.invalid && lasttnameFormControl.touched"><b>Last name requirements:</b></p>
        <p *ngIf="lasttnameFormControl.errors?.required && lasttnameFormControl.touched">Last name is missing</p>
        <p *ngIf="lasttnameFormControl.errors?.minlength && lasttnameFormControl.dirty">Last name is too short (at least
            4 chars)</p>
        <p *ngIf="lasttnameFormControl.errors?.maxlength && lasttnameFormControl.dirty">Last name is too long (max 25
            chars)</p>

        <p *ngIf="emailFormControl.invalid && emailFormControl.touched"><b>Email requirements:</b></p>
        <p *ngIf="emailFormControl.errors?.required && emailFormControl.touched">Email is missing</p>
        <p *ngIf="emailFormControl.errors?.minlength && emailFormControl.dirty">Email is too short</p>
        <p *ngIf="emailFormControl.errors?.pattern && emailFormControl.dirty">Email is invalid</p>

        <p *ngIf="passwordFormControl.invalid && passwordFormControl.touched"><b>Password requirements:</b></p>
        <p *ngIf="passwordFormControl.errors?.required && passwordFormControl.touched">Password is missing</p>
        <p *ngIf="passwordFormControl.errors?.minlength && passwordFormControl.dirty">Password is too short</p>
        <p *ngIf="passwordFormControl.errors?.maxlength && passwordFormControl.dirty">Password is too long</p>
    </div>

</div>