<div>
    <button routerLink="/admin/createCompany" routerLinkActive="active-link">Create company</button>
    <button routerLink="/admin/removeCompany" routerLinkActive="active-link">Remove company</button>
    <button routerLink="/admin/updateCompany" routerLinkActive="active-link">Update company</button>
    <button routerLink="/admin/createCustomer" routerLinkActive="active-link">Create customer</button>
    <button routerLink="/admin/removeCustomer" routerLinkActive="active-link">Remove customer</button>
    <button routerLink="/admin/updateCustomer" routerLinkActive="active-link">Update customer</button>
    <button routerLink="/admin/all-coupons/8" routerLinkActive="active-link">Find coupons by date</button>
    <button routerLink="/admin/all-coupons/9" routerLinkActive="active-link">Find empty coupons</button>
    <button (click)="removeAllCompanies()" id="all">Remove All Companies</button>
    <button (click)="removeAllCustomers()" id="all">Remove All Customers</button>
</div>